## Import Pandas and use its read_csv function to read CSV files.

In [7]:
import pandas as pd

poke_df = pd.read_csv('pokemon_data.csv')
poke_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Reading data in pandas

In [8]:
## Read first 5 rows of poke_df
print(f"The first 5 rows inside poke_df:")
poke_df.head(5)

The first 5 rows inside poke_df:

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
## Read the columns
print(f"The columns inside poke_df: \n")
print(list(poke_df.columns))    # poke_df.columns returns index object with list inside. Type cast it into a list if you want.
poke_df.columns

The columns inside poke_df:

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [14]:
## Read each column (reading each row inside name column)
print(f"The rows inside column 'Name' are: \n")
# poke_df['Name']    # Prints out the complete string representation of all rows in column Name
poke_df[['Name']]    # Prints out the table representation of all rows in column Name

The rows inside column 'Name' are:

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [15]:
## Read multiple columns
print(f"The rows inside the Name, Type 1 and HP columns: \n")
poke_df[['Name', 'Type 1', 'HP']]

The rows inside the Name, Type 1 and HP columns:

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [19]:
## Read a specific row
print(f"The first row contains the following information:\n")
poke_df.iloc[0]  # returns every data inside that row

The first row contains the following information:

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [20]:
## Read a specific number of rows
print("The rows with row index 1 to row index 3 are as follows:")
poke_df.iloc[1:4]    # Prints out rows with index 1 to 3, 4 and above are excluded from the list

The rows with row index 1 to row index 3 are as follows:

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [21]:
## Read a specific location
print(f"At the 2nd row index (3rd row), 1st column index (2nd column): {poke_df.iloc[2,1]}")
poke_df.iloc[2,1]  # returns whatever data is inside

At the 2nd row index (3rd row), 1st column index (2nd column): Venusaur

'Venusaur'

In [ ]:
# Printing the

## TIP: Iterating through the dataframe (or dataset or whatever)

In [25]:
## First way: Using loops to iterate with the help of .iterrows() function

#for index, row in poke_df.iterrows():   # IMPORTANT: Useful if you want a pointer iterating across the dataset.
    #print(index, row)                   # This will print out complete string information across each row
    #print(index, row['Name'])           # This will print out the Name column only (along with their respective index)
    
# Instead of manually iterating through the rows using for loop (for loops are still useful though)
# This is only useful if you want to separate one group of data and appending it to another dataframe or set
# or if you just want to print the specific group inside a column
# You can use multiple conditions inside loc[]
poke_df.loc[poke_df['Type 1'] == "Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Describing data

In [26]:
poke_df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## Sorting data

In [32]:
# Sorting the data frame using Names in ascending order
poke_df = poke_df.sort_values('Name')
poke_df

# Sorting the data frame using Names in descending order
poke_df = poke_df.sort_values('Name', ascending=False)
poke_df

# Sorting the data frame using multiple columns, with the Type 1 column being
# in ascending order while the HP being in descending order.
# IMPORTANT: This code is useful for categorical columns (or those with foreign key columns)
poke_df = poke_df.sort_values(['Type 1', 'HP'], ascending=[True, False])
poke_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making changes to the data

In [34]:
# One way of adding columns and adding the result to
# a new column. This is the safer way.

poke_df['Total'] = (poke_df['HP'] + poke_df['Attack'] + poke_df['Defense'] + poke_df['Sp. Atk'] + 
                    poke_df['Sp. Def'] + poke_df['Speed'])
#poke_df.head(5)


# Another way of adding columns and adding the result to
# a new column. WARNING: ITS DANGEROUS. USE AT YOUR OWN RISK

# Axis = 1: Horizontally; Row
# Axis = 0: Vertically; Column
#poke_df['Total'] = poke_df.iloc[:, 4:10].sum(axis=1)

# One way of Reordering columns. USE AT OWN RISK
#cols_reorder = list(poke_df.columns.values)
#poke_df = poke_df[cols_reorder[0:4] + cols_reorder[5:11] + [cols_reorder[4]] +
#                 cols_reorder[11:13]]

# A better way of Reordering columns.
poke_df = poke_df[['#', 'Name', 'Type 1','Type 2', 'HP', 'Attack', 'Defense',
                  'Sp. Atk', 'Sp. Def', 'Speed', 'Total', 
                  'Generation', 'Legendary']]

poke_df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,515,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,550,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,411,6,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,600,2,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,500,2,False

# Dropping a column

In [ ]:
# If you wanna drop a specific column

#poke_df = poke_df.drop(columns=['Total'])
#poke_df.head(5)

## Export into desired format

In [ ]:
# This exports into .csv (Comma Separated Values) format WITH INDEX.
'''
poke_df.to_csv('modified-poke-data.csv')
'''
# Pass an index=False parameter inside the index inside the exported file
'''
poke_df.to_csv('modified-poke-data.csv', index=False)
'''
# Pass a sep='\t' separator parameter inside if you want the csv file
# to be separated by tabs instead of commas
'''
poke_df.to_csv('modified-poke-data.csv', index=False, sep='\t')
'''
# Same goes for the txt format
'''
poke_df.to_csv('modified-poke-data.txt', index=False, sep='\t')
'''
# Exporting into xlsx (Excel) format.
'''
poke_df.to_excel('modified-poke-data.xlsx', index=False)
'''

# Filtering Data

In [ ]:
# Output only the rows with type 1 == Grass
poke_df.loc[poke_df['Type 1'] == 'Grass']

In [ ]:
# Output rows with Type 1 grass and type 2 poison
poke_df.loc[(poke_df['Type 1'] == 'Grass') &
            (poke_df['Type 2'] == 'Poison') &
           (poke_df['HP'] > 70)]
# Make sure the 2 conditions are separated by parentheses
# Also the conditional operators inside pandas parameters should be:
# & for and; | for or

In [ ]:
# Copy these values to another dataframe:
grass_poison_hp70 = poke_df.loc[(poke_df['Type 1'] == 'Grass') &
            (poke_df['Type 2'] == 'Poison') &
           (poke_df['HP'] > 70)]

grass_poison_hp70

However, the index of the new dataframe are preserved from its parent dataframe.

In [ ]:
# To reset index
grass_poison_hp70.reset_index(drop=True, inplace=True)
grass_poison_hp70

In [ ]:
# You can export the new dataframe into a csv file as a checkpoint
grass_poison_hp70.to_csv('grass-poison-hp70.csv', index=False)

Returning to the poke_df dataframe:

In [ ]:
# If you want to retain only the 'mega' pokemons:
poke_df.loc[poke_df['Name'].str.contains('Mega')]

In [ ]:
# If you want to filter out 'Mega' name:
poke_df.loc[~poke_df['Name'].str.contains('Mega')]
# ~ (tilde) is a NOT conditional operator

In [ ]:
# If you want to get the fire and grass type pokemons only
# You can use regex:
import re

poke_df.loc[poke_df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
# flags=re.I means ignore capitalization
# regex=True means you enable regex symbols/functions inside the contains function

In [ ]:
# If you want to find out all the pokemon names that contain the
# string sequence: "pi"
poke_df.loc[poke_df['Name'].str.contains('pi[a-z]*', flags=re.I, regex=True)]
# [a-z] range of letters from a to z
# asterisk (*) at the end means whatever sequence of [a-z] from zero to
# infinite amount of characters

In [ ]:
# If you want to find every pokemon that has a name that starts with
# 'pi'
poke_df.loc[poke_df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

## Conditional Changes

Change every existence of the word 'Fire' inside column Type 1 into 'Flamer'

In [ ]:
poke_df.loc[poke_df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
poke_df.loc[poke_df['Type 1'] == 'Flamer']

If you want to change 'Flamer' back to 'Fire'

In [ ]:
poke_df.loc[poke_df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
poke_df.loc[poke_df['Type 1'] == 'Fire']

If you want to change all Fire pokemon Legendary status to True
Set up a test dataframe since we don't want to screw up the actual dataframe

In [ ]:
test_df = poke_df
test_df.loc[test_df['Type 1'] == 'Fire', 'Legendary'] = True
test_df.loc[test_df['Type 1'] == 'Fire']

In [ ]:
poke_df = pd.read_csv('modified-poke-data.csv')    # Reset the test_df
test_df = poke_df

If you want to change the legendary status and generation number of all pokemon with total stat number of above 500 into 'TEST VALUE'

In [ ]:
test_df.loc[test_df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
test_df.loc[test_df['Legendary'] == 'TEST VALUE']

If you want to change the generation and legendary value of every pokemon with total stat number of above 500 into:
Test 1 for Generation column
Test 2 for Legendary column

In [ ]:
test_df.loc[test_df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1','Test 2']
test_df.loc[test_df['Legendary'] == 'Test 2']

In [ ]:
poke_df = pd.read_csv('modified-poke-data.csv')    # Reset the test_df
test_df = poke_df

## Aggregate Statistics (groupby function)
poke_df is a dataframe. You can group it accordingly using groupby('column_name') function. If you want to group it according to multiple columns, use DataFrame.groupby(['column_name1','column_name2'])

Grouping by Type 1 and finding the mean of each type 1 then sorting their values by Defense in descending order to find out which type of pokemon has the highest amount of Defense

In [ ]:
poke_df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

Establishing a count column and grouping by Type 1 and finding the total number of pokemons inside each Type 1

In [ ]:
poke_df['count'] = 1
poke_df.groupby(['Type 1']).count()['count']
# It does not count rows with NaN (null type values)

If you want to group it by multiple columns:

In [ ]:
poke_df.groupby(['Type 1', 'Type 2']).count()['count']